{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
<header class="header">
  <div class="header-inner">
    <a href="{{ store.url }}" class="logo">
      <div class="logo-dot"></div>
      <span class="logo-text"><span class="logo-academy">MiND</span> ACADEMY</span>
    </a>
    <nav class="nav">
      {# Salla Menu #}
      {% for item in menu.main %}
        <a href="{{ item.url }}">{{ item.name|upper }}</a>
      {% endfor %}
      
      {# User and Cart #}
      {% if user.is_authenticated %}
        <a href="{{ link('customer.index') }}">ACCOUNT</a>
      {% else %}
        <a href="{{ link('customer.login') }}">LOGIN</a>
      {% endif %}
      
      <a href="{{ link('cart.index') }}">CART [{{ cart.items_count }}]</a>
    </nav>
  </div>
</header>
