{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
<header class="header">
  <div class="header-inner">
    <a href="{{ store.url }}" class="logo">
      {% if store.logo %}
        <img src="{{ store.logo }}" alt="{{ store.name }}" style="max-height: 40px; width: auto;">
      {% else %}
        <div class="logo-dot"></div>
        <span class="logo-text">{{ store.name|upper }}</span>
      {% endif %}
    </a>
    <nav class="nav">
      <!-- DEBUG: menu keys = {{ menu|keys|join(', ') }} -->
      <!-- DEBUG: menus keys = {{ menus|keys|join(', ') }} -->
      {# Salla Menu #}
      {% for item in menu.main %}
        <a href="{{ item.url }}">{{ item.name|upper }}</a>
      {% endfor %}
      
      {# User and Cart #}
      {% if user.is_authenticated %}
        <a href="{{ link('customer.index') }}">ACCOUNT</a>
      {% else %}
        <a href="{{ link('customer.login') }}">LOGIN</a>
      {% endif %}
      
      <a href="{{ link('cart') }}">CART [{{ cart.items_count }}]</a>
    </nav>
  </div>
</header>
